.anchor {
    -fx-background-color: #141416;
}

.button {
    -fx-background-color: #006989;
    -fx-text-fill: white;
    -fx-background-radius: 100;
}

.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.hbox {
    -fx-spacing: 5;
}